@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap");

* {
  font-family: "Tomorrow", sans-serif !important;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs1 {
  box-shadow: 2px 8px 11px 20px rgb(7, 101, 196, 0.3);
  padding: 30px;
}

.pushable {
  background-color: rgba(5, 59, 113);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.front {
  display: block;
  padding: 10px 15px;
  border-radius: 12px;
  background: rgb(51, 154, 213);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.register-div {
  margin-top: 150px !important;
}
.heading-log-reg {
  border: 2px dotted black !important;
}
.input-field {
  border: 2px dotted black !important;
}
.spinner-border {
  border-style: dotted;
  position: fixed;
  text-align: center;
  top: 40%;
  left: 49%;
  z-index: 999;
}

input[type="file"] {
  border: none !important;
}
.post-frame:first-of-type {
  margin-top: 20px;
}
.post-frame {
  box-shadow: 5px 8px 16px 5px rgb(153, 146, 146, 0.3);
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px;
}

.post-header {
  justify-content: space-between;
  box-shadow: 5px 8px 16px 5px rgb(153, 146, 146, 0.3);
  margin: 5px;
  padding: 5px;
}

.profilepic1 {
  padding: 9px 17px;
  border-radius: 50%;
  background-color: lightblue;
  font-size: medium;
  font-weight: bold;
  color: white;
  margin: 2px;
  text-shadow: 2px 2px rgb(3, 106, 141, 0.8);
  text-transform: uppercase;
}

.post-username {
  color: black;
  text-decoration: none;
  font-size: medium;
  padding: 10px;
  margin-left: 10px;
}
.post-date {
  color: rgb(78, 78, 78);
  font-size: small;
  padding: 7px 0 3px 0;
  margin-top: 2px;
}
.postimage {
  height: 400px;
  width: 100% !important;
  margin-top: 10px;
}
.post-description {
  margin: 10px;
  text-align: left;
}
.anticon svg {
  font-size: 18px !important;
  cursor: pointer;
}

.comment-textbox {
  margin: 10px 20px;
  border: 0px solid black;
  box-shadow: 5px 8px 16px 5px rgb(153, 146, 146, 0.3);
}
.comment-image {
  box-shadow: 5px 8px 16px 17px rgb(153, 146, 146, 0.6);
}

.cmt-user-name {
  font-style: none !important;
  font-weight: bold;
  font-size: 13px;
  color: black;
}
.cmt {
  font-size: 13px;
  color: black;
  margin-left: 10px;
  margin-top: 15px;
}
.all-user-card:first-child {
  margin-top: 40px;
}
.all-user-card {
  margin: 20px;
  box-shadow: 5px 8px 16px 5px rgba(153, 146, 146, 0.3);
  border: 1px solid rgba(153, 146, 146, 0.3);
  padding: 10px;
  text-align: left;
}
.all-user-card button {
  padding: 5px;
  font-size: medium;
  text-align: center;
  vertical-align: center;
}
.all-user-def-pfp {
  height: 50px;
  width: 50px;
  text-transform: uppercase;
}
.all-user-search {
  width: 60% !important;
  text-align: left;
  box-shadow: 5px 8px 16px 5px rgba(153, 146, 146, 0.3);
  border: none;
  padding: 10px;
}

.profile{
  padding: 30px 10px;
  box-shadow: 5px 8px 16px 5px rgba(153, 146, 146, 0.3);

}
.profile-pic {
  height: 60px;
  width: 60px;
  text-align: center !important;
  vertical-align: center !important;
  color: white;
  background-color: lightblue;
  font-size: 20px;
  border-radius: 50%;
  padding-top: 12px;
  text-shadow: 2px 2px rgba(3, 106, 141, 0.8);
  box-shadow: 2px 2px 20px 5px rgba(1, 43, 57, 0.4);
}
.profile-info{
  margin-left: 70px;
}
#profile-name{
  font-size: large;
}
#profile-date{
  font-size: 10px !important;
  color: grey;
}
#profile-button{
  padding: 5px;
  text-decoration: none;

}

.pfp{
  height: 45px ;
  width: 50px ;
  border-radius:50% !important;
}
.img-curve{
  border-radius: 50%;
}
.postinprofile{
  height: 200px !important;
}
.del-btn{
  margin: 0 10px 37px 20px;
}
.ed-btn{
  margin: 0 10px 37px 10px;
}









@media (max-width: 991px) {
  .spinner-border {
    left: 45%;
  }
  .post-image {
    height: 200px;
  }
}
@media only screen and (max-width : 500px){

  .postimage{
    height : 200px !important;
  }
  .logotext{
    display: none !important
  }

  .all-user-search{
    width: '100%'
  }

  .left-title{
    font-size: 30px;
    font-weight : bold !important;
  }
  
}